@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif; */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh;
}

ul {
    display: flex;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 17vh;
    position: relative;
    z-index: 1;
    background-color: white;
}

header .toggle, .close {
    display:none;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    display: flex;
    align-items: center;
    margin-right: 3vh;
    font-family: 'Karla', sans-serif;
    color: gray;
    font-weight: 700;
    font-size: 1.6vh;
    letter-spacing: 1px;
}

nav ul .ul-patter {
    display: none;
}

nav ul button {
    padding: 1vh 0;
    width: 16vh;
    font-family: 'Karla', sans-serif;
    font-size: 1.6vh;
    font-weight: 700;
    background-color: transparent;
    border: none;
    color: gray;
    outline: solid 1.5px gray;
    cursor: pointer;
    letter-spacing: 1px;
}

main .container {
    width: 100%;
    display: flex;
    padding: 17vh;
    background-color: hsl(256, 26%, 20%);
}

main .container .img {
    background-image: url(images/image-intro-desktop.jpg);
    width: 37%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 23.5%);
}

main .container article {
    width: 50%;
}

main .container article h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 7vh;
    color: white;
    width: 60%;
    margin-bottom: 1vh;
}

main .container article p {
    font-family: 'Karla', sans-serif;
    color: white;
    line-height: 2.7vh;
    width: 65%;
    margin-bottom: 2vh;
    font-size: 1.6vh
}

main .container article button {
    padding: 1vh 0;
    width: 16vh;
    font-family: 'Karla', sans-serif;
    font-size: 1.6vh;
    font-weight: 700;
    background-color: transparent;
    border: none;
    color: white;
    outline: solid 2px white;
    cursor: pointer;
    letter-spacing: 1px;
}

main .container .pattern-left {
    display: none;
}

main .container .pattern-left-desktop {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 115%);
    width: 20vh;
}

main .container .pattern-right {
    display: none;
}

main .container .pattern-right-desktop {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0,2%);
    z-index: 0;
}

section {
    padding: 32vh 17vh;
}

section .top-line {
    border: 1px solid hsl(273, 4%, 51%);
    width: 10%;
    margin-bottom: 5vh;
}

section h1.title {
    font-family: 'DM Serif Display', serif;
    font-size: 7.5vh;
    margin-bottom: 10vh;
}

section .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;
}

.cards .card:first-child {
    margin-right: 20vh;
}

.cards .card:nth-child(2) {
    margin-right: 20vh;
}

.card img {
    margin-bottom: 2vh;
    width: 10vh;
}

.card h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 3vh;
    margin-bottom: 2vh;
}

.card p {
    font-family: 'Karla', sans-serif;
    font-size: 1.7vh;
    font-weight: 700;
    color: hsl(273, 4%, 51%);
}

section .section-low {
    background-color: hsl(256, 26%, 20%);
    height: 26.7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9vh;
}

section .section-low h1{
    font-family: 'DM Serif Display', serif;
    font-weight: 500;
    width: 29%;
    color: white;
    font-size: 5vh;
}

section .section-low button {
    padding: 1vh 0;
    width: 16vh;
    font-family: 'Karla', sans-serif;
    font-size: 1.6vh;
    font-weight: 700;
    background-color: transparent;
    border: none;
    color: white;
    outline: solid 1.5px white;
    cursor: pointer;
    letter-spacing: 1px;
    z-index: 1;
}

section .section-low .section-low-pattern-mobile {
    display: none;
}

section .section-low .section-low-pattern-desktop {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(305.5%,617.8%);
    z-index: 0;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(221, 219, 219);
    padding: 7vh 17vh;
    overflow: hidden;
}

footer .pattern {
    display: none;
}

footer .pattern-desktop {
    position: absolute;
    bottom: 50;
    left: 0;
    transform: translate(0, -28%);
    z-index: 0;
    display: block;
}

footer .footer-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 3.8vh;
    border-bottom: 1.5px solid gray;
    z-index: 1;
    margin-bottom: 5.8vh;
}

footer .footer-top .logo {
    height: 2vh;
}

footer .footer-top .social i{
    color: #999799;
    font-size: 3vh;
}

footer .footer-low {
    display: flex;
    width: 100%;
}

footer .footer-low .content:nth-child(1) {
    width: 30%;
}

footer .footer-low .content:nth-child(2) {
    width: 30%;
}

footer .footer-low .content:nth-child(3) {
    width: 30%;
}

footer .footer-low .content h2 {
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-family: 'Karla', sans-serif;
    font-size: 2vh;
    color: gray;
    letter-spacing: 1px;
    font-weight: 700;
}

footer .footer-low .content p {
    margin-bottom: 2vh;
    font-family: 'Karla', sans-serif;
    font-size: 2vh;
    letter-spacing: 1px;
    font-weight: 700;
}


@media screen and (max-width: 375px),
(max-width:414px),
(max-width:390px),
(max-width:427px) {

    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 4.17vh;
    }

    nav {
        position: absolute;
        top: 12.5vh;
        left: 0;
        right: 0;
        width: 100%;
        height: 0vh;
        /* height 100vh */
        background-color: hsl(256, 26%, 20%);
        transition: all 0.2s ease-in-out;
        overflow: hidden;
        z-index: 5;
    }

    nav.active {
        height: 100vh;
    }

    nav ul {
        display: flex;
        width: fit-content;
        margin: 7vh auto 0 auto;
        text-align: center;
        transition: 0.5s;
        flex-direction: column;
        justify-content: center;
    }

    nav ul li {
        margin-bottom: 6vh;
        display: inline-block;
        font-family: 'Karla', sans-serif;
        font-size: 3.5vh;
        font-weight: 700;
        color: white;
        letter-spacing: 1px;
    }

    nav ul button {
        padding: 1.5vh 0;
        width: 40vh;
        font-family: 'Karla', sans-serif;
        font-size: 3.5vh;
        font-weight: 700;
        background-color: transparent;
        border: none;
        color: white;
        outline: solid 1.5px white;
        cursor: pointer;
    }

    nav ul .ul-patter {
        position: absolute;
        width: 77vh;
        bottom: 0;
        right: 0;
        transform: translate(2%, 5%);
        display: block;
    }


    header .toggle {
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    header .toggle.actived {
        display: none;
    }

    header .close {
        display: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    header .close.active {
        display: block;
    }

    main .container {
        width: fit-content;
        height: 171vh;
        display: block;
        padding: 0;
    }

    main .container .img {
        background-image: url(images/image-intro-mobile.jpg);
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        z-index: 0;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0)
    }

    main .container article {
        background-color: hsl(256, 26%, 20%);
        color: white;
        display: flex;
        flex-direction: column;
        padding: 10vh 3vh;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 50%;
        justify-content: center;
    }

    main .container article h1 {
        font-family: 'DM Serif Display', serif;
        font-size: 6.3vh;
        margin-bottom: 2vh;
        width: 95%;
    }

    main .container article p {
        font-family: 'Karla', sans-serif;
        margin-bottom: 5vh;
        width: 95%;
        font-size: 2.5vh;
        line-height: 4vh;
    }

    main .container article button {
        padding: 1.5vh 0;
        width: 45%;
        font-family: 'Karla', sans-serif;
        font-size: 2.5vh;
        font-weight: 700;
        background-color: transparent;
        border: none;
        color: white;
        outline: solid 2px white;
        cursor: pointer;
    }

    main .container .pattern-left {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0%, 334%);
        width: 30vh;
        z-index: 0;
        display: block;
    }

    main .container .pattern-left-desktop {
        display: none;
    }

    main .container .pattern-right {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0%, 293%);
        width: 20vh;
        z-index: 1;
        display: block;
    }

    main .container .pattern-right-desktop {
        display: none;
    }

    section {
        margin-top: 13vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5vh;
        margin-bottom: 18vh;
    }

    section .top-line {
        border: 1px solid grey;
        width: 20vh;
        margin-bottom: 5vh;
    }

    section h1.title {
        font-family: 'DM Serif Display', serif;
        font-size: 5vh;
    }

    section .cards {
        margin-top: -1vh;
        z-index: 3;
        position: relative;
        display: block;
        margin-bottom: 5vh;
    }

    section .cards .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
        text-align: center;
    }

    .cards .card:first-child {
        margin-right: 0;
    }

    .cards .card:nth-child(2) {
        margin-right: 0;
    }

    .card img {
        width: 15vh;
        height: 15vh;
    }

    .card h2 {
        font-family: 'DM Serif Display', serif;
        margin: 5vh 0 3vh 0;
    }

    .card p {
        font-family: 'Karla', sans-serif;
    }

    .section-low {
        width: 100%;
        height: 50vh;
        background-color: hsl(256, 26%, 20%);
        overflow: hidden;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-top: 32vh;
    }

    section .section-low .section-low-pattern-mobile {
        margin-left: 20vh;
        display: block;
    }

    section .section-low .section-low-pattern-desktop {
        display: none;
    }
    

    .section-low h1 {
        text-align: center;
        position: relative;
        top: -42vh;
        padding: 30px;
        font-family: 'DM Serif Display', serif;
        font-size: 40px;
        color: white;

    }

    .section-low button {
        position: relative;
        top: -42vh;
        padding: 1.5vh 4vh 1.5vh 4vh;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-family: 'Karla', sans-serif;
        letter-spacing: 1px;

    }

    footer {
        height: auto;
    }

    footer .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 4vh;

    }

    footer .pattern-desktop {
        display: none;
    }

    .footer-top .social i {
        font-size: 4.5vh;
        color: gray;
        margin-right: 0.5vh;
        z-index: 1;
    }

    footer .footer-low {
        padding: 0 5vh 0 5vh;
        display: block;
    }


    footer .footer-low .content {
        text-align: center;
        margin-bottom: 4vh;
    }

    .footer-low .content:first-child {
        border-top: 1.5px solid rgb(224, 222, 222);
    }

    footer .footer-low .content:nth-child(1) {
        width: 100%;
    }
    
    footer .footer-low .content:nth-child(2) {
        width: 100%;
    }
    
    footer .footer-low .content:nth-child(3) {
        width: 100%;
    }

    .content h2 {
        margin-top: 4vh;
        margin-bottom: 4vh;
        font-family: 'Karla', sans-serif;
        font-size: 2vh;
        color: gray;
        letter-spacing: 1px;
        font-weight: 700;
    }

    .content p {
        margin-bottom: 2vh;
        font-family: 'Karla', sans-serif;
        font-size: 2vh;
        letter-spacing: 1px;
        font-weight: 700;
    }

    footer {
        padding: 0 5vh;
    }

    footer .pattern {
        display: block;
        margin-right: 10vh;
        transform: translate(8.5%, 0%);
        width: 56.5vh;
    }

    footer .footer-top .logo {
        width: 18vh;
        height: auto;
        margin-bottom: 3vh;
        position: relative;
        top: -14vh;
    }

    .footer-top .social {
        position: relative;
        top: -12vh;
        width: 120%;
        text-align: center;
    }

    footer .footer-top .social i {
        font-size: 5vh;
    }
}

@media screen and (max-width:320px) {
    section .section-low {
        border: 1px solid green;
    }

    section .section-low h1 {
        top: 20vh !important;
    }
}

@media screen and (max-width:375px) {
    section .section-low {
        height: 45vh !important;
        padding: 32vh 0 0 0;
        overflow: hidden;
        width: 100%;
        flex-direction: column;
    }

    section .section-low h1 {
        font-size: 38px;
        width: 100%;
        top: -74vh !important;
    }

    section .section-low-pattern-mobile {
        transform: translate(4%,-72%) !important;
    }

    section .section-low button {
        top: -64vh !important;
        width: 18vh;
        padding: 1.5vh;
    }

    footer {
        padding: 0 5vh;
    }

    footer .pattern {
        display: block;
        margin-right: 10vh;
        transform: translate(8.5%, 0%);
        width: 56.5vh;
    }

    footer .footer-top .logo {
        width: 18vh;
        height: auto;
        margin-bottom: 3vh;
        position: relative;
        top: -14vh;
    }

    .footer-top .social {
        position: relative;
        top: -12vh;
        width: 120%;
        text-align: center;
    }

    footer .footer-top .social i {
        font-size: 5vh;
    }
}

@media screen and (max-width:414px) {

    nav {
        top: 11vh;
    }

    main .container .pattern-left {
        transform: translate(0, 331%);
    }

    section h1.title {
        font-size: 4.5vh;
    }

    section .section-low {
        height: 36vh;
        padding: 32vh 0 0 0;
    }

    section .section-low-pattern-mobile {
        transform: translate(-0,-91%);
    }

    section .section-low h1 {
        top: -66vh;
        width: 100%;
        font-size: 4vh;
    }

    section .section-low button {
        top: -66vh;
    }
}

@media screen and (max-width:390px) {
    
    nav {
        top: 11.5vh;
    }

    main .container .pattern-left {
        transform: translate(0, 331%);
    }

    section h1.tite {
        font-size: 4.5vh;
    }

    section .section-low {
        height: 39vh;
    }

    section .section-low-pattern-mobile {
        transform: translate(0, -86%);
    }

    section .section-low h1 {
        top: -66vh;
        font-size: 38px;
        width: 100%;
        padding: 0;
    }

    section .section-low button {
        top: -65vh;
        width: 18vh;
        padding: 1.5vh;
    }
}

@media screen and (max-width:360px) {

    section h1.title {
        font-size: 4.5vh;
    }

    main .container .pattern-left {
        transform: translate(0, 333%);
    }

    section .section-low {
        height: 30vh;
        padding: 32vh 0 0 0;
    }

    .section-low h1 {
        top: -38vh;
        font-size: 4vh;
    }

    .section-low button {
        top: -40vh;
    }
}

    @media screen and (max-width:412px) {
        section h1 {
            font-size: 4.8vh;
        }

        main .container .pattern-left {
            transform: translate(0, 330.5%);
        }

        section .section-low {
            height: 35vh;
        }

        section .section-low-pattern-mobile {
            transform: translate(0, -93%)
        }
        

        .section-low h1 {
            top: -74vh;
        }

        .section-low button {
            top: -35vh;
        }
    }